.redes {
  background-color: #202024;
  box-shadow: -5px -5px 20px #2a85a1, 5px 5px 20px #5affff;
  position: absolute;
  right: calc((100vw / 2) - (120px / 2));
  border-radius: 12px;
  top: calc((100vh / 2) + (509px / 2));
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
 .redes.active { -webkit-animation: bounce-in-top 1.4s both;
	        animation: bounce-in-top 1.4s both;
  
  
  -webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
}

.redes:hover, .redes.done {
	-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        box-shadow: -5px -5px 20px #2a85a1, 5px 5px 20px #5affff;
        

}



@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466;
            box-shadow: 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 10px 10px 0px #6affff, -1px 1px #1a5466, -2px 2px #1a5466, -3px 3px #1a5466, -4px 4px #1a5466, -5px 5px #1a5466, -6px 6px #1a5466, -7px 7px #1a5466, -8px 8px #1a5466;
            box-shadow: 10px 10px 0px #2a85a1, -1px 1px #1a5466, -2px 2px #1a5466, -3px 3px #1a5466, -4px 4px #1a5466, -5px 5px #1a5466, -6px 6px #1a5466, -7px 7px #1a5466, -8px 8px #1a5466;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0px #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466;
            box-shadow: 0 0 #2a85a1, 0 0 #1a5466, 0 0 #000, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466, 0 0 #1a5466;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 3px 3px 0px #6affff, -1px 1px #000, -2px 2px #000, -3px 3px #000, -4px 4px #1a5466, -5px 5px #1a5466, -6px 6px #1a5466, -7px 7px #1a5466, -8px 8px #1a5466;
            box-shadow: 3px 3px 0px #848496, -1px 1px #000, -2px 2px #000, -3px 3px #1a5466, -4px 4px #1a5466, -5px 5px #1a5466, -6px 10px #1a5466, -7px 7px #1a5466, -8px 8px #1a5466, 10px 10px 0px #1a5466;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}




@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



@media (max-width: 960px) {
  body {
    flex-direction: column;
    gap: 20px;
  }
  .redes {
    flex-direction: row;
    position: static;
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
        animation-delay: 5s;
  }

  
}
